PORT=5000
MONGO_URI=mongodb://localhost:27017/mental_wellness
JWT_SECRET=your_jwt_secret
ENCRYPTION_SECRET=your_encryption_secret
OPENAI_API_KEY=your_api_key
GEMINI_API_KEY=AIzaSyC69beI8duPi8wOT0MyI3PHQW2A-K6mrGM
